<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Clientes</title></head>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<link rel="stylesheet" th:href="@{/css/mascotas.css}"/>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">VetConnect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<h1>Clientes</h1>

<form th:action="@{/clientes}" th:object="${nuevoCliente}" method="post">
    <input th:field="*{nombre}" placeholder="Nombre" required/>
    <input th:field="*{apellido}" placeholder="Apellido" required/>
    <input th:field="*{correo}" placeholder="Email"/>
    <input th:field="*{telefono}" placeholder="Teléfono"/>
    <button type="submit">Registrar cliente</button>
</form>

<h2>Lista</h2>
<ul class="list-group container mt-3" >
    <li th:each="c : ${clientes}">
        <span th:text="${c.id}">ID</span> -
        <span th:text="${c.nombre}">Nombre</span>
        <span th:text="${c.apellido}">Apellido</span> -
        <span th:text="${c.correo}">Correo</span>
    </li>
</ul>

<footer>
    <div>
        <h6>Integrantes:</h6>
        <h6>Diego Contreras</h6>
        <h6>Nicolas Pozzo</h6>
        <h6>Andrea Callejas</h6>
        <h6>Alan Rojas</h6>
        <h6>Mauricio Medina</h6>
        <h6>Joaquin A. Diaz</h6>
    </div>
    <div>
        <h6>Fundación Futuro - 2025</h6>
        <h6>Taller Web I - Universidad Nacional de La Matanza</h6>
    </div>
</footer>
</body>
</html>
