<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - VetConnect</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/inicio"> VetConnect  </a>
    </div>
</nav>

<!-- Header -->
<header class="header">
    <div class="header-section">
        <span>Bienvenido, Diego</span>
        <div class="header-right">
            <img th:src="@{img/perfil.png}" alt="Perfil" class="icono-mediano">
            <a href ="perfil.html" class = "span-opciones"> Perfil </a>
            <img th:src="@{img/salida.png}" alt="Salir" class="icono-mediano" >
            <a href ="home.html" class = "span-opciones"> Salir </a>

        </div>
    </div>
</header>

<!-- Layout principal -->
<div class="main-content">
    <!-- Menú lateral -->
    <aside class="opciones">
        <article class="opciones-article">
            <img th:src="@{img/clientes.png}" alt="Clientes" class="icono-opciones">
            <a href="clientes.html" class="span-opciones">Clientes</a>
        </article>
        <article class="opciones-article">
            <img th:src="@{img/mascotas-inicio.png}" alt="Mascotas" class="icono-opciones">
            <a href="mis-mascotas.html" class="span-opciones">Mis Mascotas</a>
        </article>
        <article class="opciones-article">
            <img th:src="@{img/calendario.png}" alt="Turnos" class="icono-opciones">
            <a href="turnos.html" class="span-opciones">Turnos</a>
        </article>
        <article class="opciones-article">
            <img th:src="@{img/vacuna.png}" alt="Vacunas" class="icono-opciones">
            <a href="vacunas.html" class="span-opciones">Vacunas</a>
        </article>
    </aside>

    <!-- Contenido principal -->
    <main class="main">
        <section class="cajas">
            <article>
                <h3>Pr&oacute;ximos turnos</h3>
                <div id="box-turnos">
                    <div id="left-turnos">
                        <span>24</span>
                        <span>SEP</span>
                    </div>


                    <div>
                        <p>Consulta con Dr. P&eacute;rez</p>
                        <button id="boton-cancelar">Cancelar</button>
                    </div>
                </div>
            </article>

            <article>
                <h3>Historial</h3>
                <div class="secciones-datos">
                    <div class="datos-internos">
                        <img th:src="@{img/vacuna.png}" alt="Vacuna" class="icono-grande">
                        <p>Vacunaci&oacute;n</p>
                    </div>
                    <div class="datos-internos">
                        <img th:src="@{img/laboratorios.png}" alt="Chequeo" class="icono-grande">
                        <p>Chequeo general</p>
                    </div>
                </div>
            </article>

            <article class="credencial">
                <img th:src="@{img/credecial.png}" alt="VetConnect" id="logo-credencial">
                <span id="span-credencial">Mi Credencial</span>
                <img th:src="@{img/editar.png}" alt="Editar" id="icono-editar">
            </article>

            <article>
                <h3>Cl&iacute;nica</h3>
                <div id="info-localizacion">
                    <span><img src="/img/localizacion.png" alt="Mapa" class="icono-pequeño"> Av. Siempreviva 123</span>
                    <img src="/img/mapa.png" alt="Mapa" id="mapa">
                </div>
            </article>
        </section>
    </main>
</div>

<!-- Footer -->
<footer>
    <div>
        <h6>Integrantes:</h6>
        <h6>Diego Contreras</h6>
        <h6>Nicolas Pozzo</h6>
        <h6>Andrea Callejas</h6>
        <h6>Mauricio Medina</h6>
        <h6>Joaquin A. Diaz</h6>
    </div>
    <div>
        <h6>Fundaci&oacute;n Futuro - 2025</h6>
        <h6>Taller Web I - Universidad Nacional de La Matanza</h6>
    </div>
</footer>

<!-- Bootstrap JS -->
<script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/inicio.js}"></script>


</body>
</html>
