<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mascotas</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<h1>Registrar Mascota</h1>

<form th:action="@{/mascotas}" th:object="${nuevaMascota}" method="post">
    <input th:field="*{nombre}" placeholder="Nombre" required />
    <input th:field="*{tipoDeMascota}" placeholder="Tipo (perro, gato...)" required />
    <input th:field="*{raza}" placeholder="Nombre de la raza" required />
    <input th:field="*{edad}" type="number" placeholder="Edad" required />
    <button type="submit">Registrar mascota</button>
</form>

<h2>Mis Mascotas</h2>
<ul>
    <li th:each="m : ${mascotas}">
        <span th:text="${m.nombre}"></span> -
        <span th:text="${m.tipoDeMascota}"></span>
        <span th:text="${m.raza}"></span>
        (<span th:text="${m.edad}"></span> años)
    </li>
</ul>

<footer>
    <div>
        <h6>Integrantes:</h6>
        <h6>Diego Contreras</h6>
        <h6>Nicolas Pozzo</h6>
        <h6>Andrea Callejas</h6>
        <h6>Alan Rojas</h6>
        <h6>Mauricio Medina</h6>
        <h6>Joaquin A. Diaz</h6>
    </div>
    <div>
        <h6>Fundación Futuro - 2025</h6>
        <h6>Taller Web I - Universidad Nacional de La Matanza</h6>
    </div>
</footer>

</body>
</html>