<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validador de Contraseña</title>
</head>
<body>
    <h1>Validador de Contraseña</h1>

    <!-- Formulario -->
    <form th:action="@{/validar-password}" method="post">
        <input type="text" name="password" placeholder="Ingrese contraseña" />
        <button type="submit">Validar</button>
    </form>

    <!-- Resultado -->
    <div th:if="${resultado}">
        <p>Contraseña ingresada: <strong th:text="${password}"></strong></p>
        <p>Fortaleza: <strong th:text="${resultado}"></strong></p>
    </div>
</body>
</html>

