<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Turnos</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">VetConnect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main role="main" class="container">
  <div class = "container">
    <h1>Turnos</h1>
    <h2>Tus turnos:</h2>
    <div th:if="${#lists.isEmpty(turnos)}">
      <p>No hay turnos disponibles</p>
    </div>

    <div th:if="${!#lists.isEmpty(turnos)}">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Especialidad</th>
            <th>Práctica</th>
            <th>Fecha</th>
            <th>Horario</th>
            <th>Veterinaria</th>
            <th>Profesional</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="turno : ${turnos}">
            <td th:text="${turno.especialidad != null ? turno.especialidad.desc : 'N/A'}"></td>
            <td th:text="${turno.practica != null ? turno.practica.desc : 'N/A'}"></td>
            <td th:text="${turno.fecha}"></td>
            <td th:text="${turno.horario}"></td>
            <td th:text="${turno.veterinaria != null ? turno.veterinaria.nombre : 'N/A'}"></td>
            <td th:text="${turno.profesional != null ? turno.profesional.nombre : 'N/A'}"></td>

            <td>
              <form th:action="@{/cancelar-turno}" method="post">
                <input type="hidden" name="turnoId" th:value="${turno.id}"/>
                <button class="btn btn-danger btn-sm" type="submit">Cancelar</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="./turno/nuevo-turno" class="btn btn-lg btn-primary btn-block">Nuevo Turno</a>
    <a href="./inicio" class="btn btn-lg btn-primary btn-block">Volver</a>
  </div> 
</main> 
<!-- /.container -->
<br>
<br>
<br>
<br>
<footer>
    <div>
        <h6>Integrantes:</h6>
        <h6>Diego Contreras</h6>
        <h6>Nicolas Pozzo</h6>
        <h6>Andrea Callejas</h6>
        <h6>Mauricio Medina</h6>
        <h6>Joaquin A. Diaz</h6>
    </div>
    <div>
        <h6>Fundación Futuro - 2025</h6>
        <h6>Taller Web I - Universidad Nacional de La Matanza</h6>
    </div>
</footer>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>